
li {
  float: left;
}


.banner{
  display:block;
  margin:auto;
  width: 50%;
  height: auto;
}

footer {
  bottom: 0;
  width: 100%;
}

#cabecera{
  background-color: #FFFF;
  text-align: center;
  padding: 1% 0 1% 0; 	
}

#map{
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  margin:auto;
  vertical-align:middle;
  text-align:center;
}

.formulario {
  margin:auto;
  vertical-align:middle;
  text-align:center;
} 