*{
	box-sizing: border-box
	padding: 0;
	margin: 0;

}

/*
#headernav{
  position: fixed;
  width: 100%;
  z-index: 1000;
}
*/
body {
	font-family: sans-serif;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;



}

div.container1{
  
    display: flex;
    justify-content: center;
  


}
#map {
        height: 40%;
        width: 60%;
      }

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
 /*navegador*/
.menu-bar{
    background: rgba(20, 00,20,0.70);
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;
}

.menu-bar ul li{

	margin: 35px;
	padding: 15px;
}

.menu-bar ul li a{
	color: white;
	text-decoration: none;
	font-size: 1.38em;

}

.active, .menu-bar ul li:hover{
	background: rgba(106, 253, 128, 0.50);
	border-radius: 5px;
}
.menu-bar .fa{
	margin-right: 15px;

}

/*
section#carrusel{
    padding-bottom: 1%;
}*/
aside{
	background: white;
	/*padding: 30px 0*/
}
/*clientes*/
 #clients {
     padding: 25px 0
 }

 #clients .clients-wrap {
     border-top: 2px solid #d6eaff;
     border-left: 2px solid #d6eaff;
     margin-bottom: 30px
 }

 #clients .client-logo {
     padding: 65px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     border-right: 1px solid #d6eaff;
     border-bottom: 1px solid #d6eaff;
     overflow: hidden;
     background: #fff;
     height: 180px
 }

 #clients img {
     transition: all 0.4s ease-in-out
 }
ody{
  background:#000;
}
/*noticias*/

.single_post_content > h2 span{
background:none repeat scroll 0 0 #90EE90;

}
 
.content-separator, .archive-separator {
	background: #D5D5D5;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;	
}
.content-separator {margin: 20px 0;}
.archive-separator {margin: 10px 0;}

.col3 {width: 32%;}
.column-content {
	padding: 14px 16px;
}

.post a {text-decoration: none;}
.post a:hover {text-decoration: underline;}

.post img.left, .post img.right {margin-bottom: 0;}

.post-date {
	color: #777;
	margin: 2px 0 10px;
}
.post-date a {color: #444;}

.post-title h1, .post-title h2, .post-title h3 {margin-bottom: 0;}

.post-meta {
	background: #F6F6F6;
	border: 1px solid #DDD;
	color: #777;
	padding: 6px 10px;
}
.post-meta a {color: #345; }
.post-meta a:hover {color: #001;}

.post-body {font-size: 1.1em;}
.post-body a {color: #039;}
.post-body a:hover {color: #039;}

.post-body img.left, .post-body img.right {margin-bottom: 1em;}

 
.ftco-section {

  padding: 7em 0;
  position: relative; }

  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }
/*
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;

  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto; }
*/

/*.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .offer-deal {
  width: 100%; }

*/


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.4;
  color: #2c396b;
  font-weight: 400;
  font-family: "EB Garamond", serif; }

